

.mat-button{
    background-color: #4caf50;
    margin-right: 2%;
}

.mat-button:hover{
    background-color: #357a38;
    color: black;
}

.active{
    background-color: yellow;
    color: black;
}

.example-container {
    width: 100%;
    height: 100%;
    margin: 10px;
    border: 1px solid #555;
    background-color: aliceblue;
  }

  mat-drawer{
      width: 15% !important;
  }