.dipendentiBody{
    text-align: center;
    margin-top: 5%;
}

.dipendentiContent{
    margin: 2%;
}

.selected{
    background-color: aquamarine;
}

.mat-progress-spinner::ng-deep circle {
    stroke:cadetblue;
}

.mat-progress-spinner{
    left: 45%;
    zoom: 1.5;
    position: absolute;
    top: 35%;
    z-index: 100;
}

table {
    width: 100%;
}
  
th.mat-sort-header-sorted {
color: black;
}

.buttonAdd{
    margin-bottom: 1%;
}

.mat-button{
    background-color: #4caf50;
    color: black;
    margin-right: 2%;
}

.mat-button:hover{
    background-color: #357a38;
    color: black;
}