<div class="dipendentiAddBody">
    <form #userForm="ngForm" class="example-form" fxLayout="column">
        {{ userForm.form.valid}}
        <div>
            <mat-form-field fxFlex>
                <mat-label>Nome</mat-label>
                <input type="text" required matInput #nome="ngModel" placeholder="Inserisci il nome" name="Nome" [(ngModel)]="dipendentiModel.nome">
                <mat-error *ngIf="nome.invalid">Inserisci un nome</mat-error>
            </mat-form-field>
            <!-- {{name.valid}} -->
        </div>
        <div>
            <mat-form-field fxFlex>
                <mat-label>Cognome</mat-label>
                <input type="text" required matInput #cognome="ngModel" placeholder="Inserisci il Cognome" 
                name="Cognome" [(ngModel)]="dipendentiModel.cognome">
                <mat-error *ngIf="cognome.invalid">Inserisci un cognome</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Telefono</mat-label>
                <input type="tel" required matInput #telefono="ngModel" pattern="^\d{10}$" placeholder="Inserisci un numero"
                 name="Telefono" [(ngModel)]="dipendentiModel.telefono">
                <mat-error *ngIf="telefono.invalid">Inserisci un numero corretto</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Cars</mat-label>
                <select matNativeControl required #cars="ngModel" name="Cars" [(ngModel)]="dipendentiModel.cars">
                  <option >Volvo</option>
                  <option >Alfa Romeo</option>
                  <option >Mercedes</option>
                  <option >Audi</option>
                </select>
                <mat-error *ngIf="cars.invalid">Scegli una macchina</mat-error>
            </mat-form-field>
        </div>
        <div>
            <button [disabled]="userForm.form.invalid" type="submit" mat-button> Salva</button>
            <button mat-button routerLink="/Dipendenti"> Indietro</button> <!-- (click)="goBack()" -->
        </div>
    </form>
</div>

