<div class="dipendentiAddBody">
    <form #userForm="ngForm" class="example-form">
        {{userForm.value | json }}
        <hr>
        {{dipendentiModel | json }}
        <div>
            <mat-form-field>
                <mat-label>Nome</mat-label>
                <input type="text" matInput placeholder="Inserisci il nome" name="Nome" [(ngModel)]="dipendentiModel.nome">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Cognome</mat-label>
                <input type="text" matInput placeholder="Inserisci il Cognome" name="Cognome" [(ngModel)]="dipendentiModel.cognome">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Cars</mat-label>
                <select matNativeControl required name="Cars" [(ngModel)]="dipendentiModel.cars">
                  <option >Volvo</option>
                  <option >Alfa Romeo</option>
                  <option >Mercedes</option>
                  <option >Audi</option>
                </select>
            </mat-form-field>
        </div>
        <button type="submit" mat-button> Salva</button>
        <button mat-button (click)="goBack()"> Indietro</button>
    </form>
    
</div>

